<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Albums</title>
  </head>
  <body>

    <div class="container">


      <div class="row">
        <div class="col-sm">
          <h1>Welcome to PhotoAlbums</h1>
          <hr>
          <% @albums.each do |album| %>

            <div class="card d-inline-block" style="width: 18rem;">
                <%= image_tag album.album_url,  :class => "card-img-top" %>
              <div class="card-body">
                <h5 class="card-title">  <%= link_to album.name, album_path(album) %></h5>
                <p class="card-text"><%= album.description %></p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
              </div>
            </div>
              <hr>

            <br>
          <% end %>
        </div>

      </div>

    </div>

  </body>
</html>
