<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


    <div class="container-fluid" align="center">

      <h1>All Album's</h1>
      <% @albums.each do |album| %>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <h3><%= link_to album.name, album_path(album) %></h3> <br>
            <h5><%= album.description %></h5> <br>

          <div>
            <%= image_tag album.album_url, :class => 'img-fluid' %><br>
            <%= link_to "Delete Album", album_path(album), method: "DELETE", :class => 'btn btn-outline-light', data: {confirm: "Are you sure?"}  %>          <hr>
          </div>
        </div>
        </div>
      </div>

      <% end %>
    </div>
  </body>
</html>
