<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>


    <div class="container-fluid" align="center">

      <h1>All Photo's</h1>
      <% @photos.each do |photo| %>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <h3><%= photo.name %></h3> <br>

          <div>
            <%= image_tag photo.image_url, :class => 'img-fluid' %><br>
            <%= link_to "Delete Photo", photo_path(photo), method: "DELETE", :class => 'btn btn-outline-light', :style => 'color: rgb(107, 35, 25)', data: {confirm: "Are you sure?"}  %>          <hr>
          </div>
        </div>
        </div>
      </div>

      <% end %>
    </div>
  </body>
</html>
